html, body {
	font-family: "Roboto","Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	top: 0;
	left: 0;
	overflow-y: scroll;
}

#container {
	position: absolute;
	top:0;
	left:50%;
	transform: translateX(-50%);
	width: 450px;
	max-width: 100%;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255,255,255,0.95);
	z-index:1;
}

#swapdiv:hover {
	cursor:pointer;
}

#interface {
	width: 100%;
	z-index:1;
}

.toggle_button {
	position:fixed;
	right:0;
	padding:20px;
	display:block;
	width:230px;
	max-width:100%;
	background-color: rgba(255,255,255,0.95);
	z-index:2;
}

.center-buttons {
	margin-bottom:12px;
}

.buttons {
	width: 100%;
}

#togglecameratopright {
	margin-top:12px;
}

#controls {
	margin-bottom:24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#dropdowns {
	width:300px;
	z-index: 1000;
}

#swapdiv, #swapsvg {
	width: 35px;
	height: 35px;
}

#vis {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}